.container {
    display: grid;
    grid-template-rows: 5fr 4fr;
    width: 500px;
    height: 400px;
    margin-top: 100px;
    text-align: center;
    background-color: black;
    border-radius: 10px;
    justify-self: left;
}

.scoreboard {
    width: 350px;
    height: 150px;
    margin: auto;
    color: #61dafb;
    background-color: black;
    border: 3px solid #61dafb;
    font-size: 100px;
    border-radius: 10px;
}

.buttonsFrame {
    width: 350px;
    height: 120px;
    margin: auto;
    border: 3px solid #61dafb;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
}

.button {
    border-radius: 10px;
    margin: auto;
    font-size: 70px;
    color: black;
    background-color: #61dafb;
}

.message {
    font-size: 25px;
}

.warning {
    font-size: 45px;
    color: red;
}

.maxValue {
    color: red;
    font-weight: bold;
}


