.container {
    display: grid;
    grid-template-rows: 5fr 4fr;
    width: 500px;
    height: 400px;
    margin-top: 100px;
    text-align: center;
    background-color: black;
    border-radius: 10px;
    justify-self: right;
}

.inputsBlock {
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 350px;
    height: 150px;
    margin: auto;
    color: #61dafb;
    background-color: black;
    border: 3px solid #61dafb;
    border-radius: 10px;
}

.inputValue {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto 20px;
    font-size: 25px;
    text-align: left;
}

.inputValue input {
    text-align: center;
    border-radius: 5px;
}

.errorInput {
    color: red;
    border: red 3px solid;
    outline: none;
}

.buttonsBlock {
    width: 350px;
    height: 120px;
    margin: auto;
    border: 3px solid #61dafb;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
}

.button {
    border-radius: 10px;
    margin: auto;
    font-size: 70px;
    color: black;
    background-color: #61dafb;
}





